[include]
  path=.gitconfig.local
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[apply]
  whitespace = fix
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = /usr/bin/vim
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  pager = less -r
[alias]
  lg = log --graph --pretty=oneline --abbrev-commit --decorate
  lall = log --graph --pretty=oneline --abbrev-commit --decorate --all
  pullm = !git fetch origin && git rebase -p origin/master
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --numstat
  gbl = for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'
  rbl = for-each-ref --sort=committerdate refs/remotes/ --format='%(committerdate:short)  %(refname:short) (%(authorname))'
  # Edit all modified & new files
  edit = "!$EDITOR `git ls-files -m --other --exclude-standard`"
  # Use fzf to select some modified files to add
  addm = "!git add `git ls-files -m --other --exclude-standard | fzf -m`"
[push]
  default = simple
[pull]
  rebase = true
[merge]
  defaultToUpstream = true
[branch]
  autosetupmerge = true
[rebase]
  autosquash = true
[help]
  autocorrect = 1
