[Unit]
Description=Ollama Service
After=network-online.target

[Service]
ExecStart=%h/.local/bin/ollama serve
Restart=always
RestartSec=3
Environment="PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin"

[Install]
WantedBy=default.target
