{
  "singleQuote": true,
  "bracketSpacing": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "singleQuote": true,
        "bracketSpacing": false,
        "trailingComma": "es5"
      }
    }
  ]
}
