[Unit]
Description=Mkchromecast
PartOf=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mkchromecast --tray --port 5555 --encoder-backend ffmpeg
Restart=always

[Install]
WantedBy=sway-session.target
