# vim: ft=sh

# Easy timezones for places I care about
alias lisbon='TZ="Europe/Lisbon" date'
alias nyc='TZ="America/New_York" date'
alias seattle='TZ="America/Los_Angeles" date'
alias sf='TZ="America/Los_Angeles" date'
alias rio='TZ="America/Sao_Paulo" date'
alias utc='TZ="UTC" date'

if command -v dig > /dev/null; then
  alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
  alias mygeo="curl -w \"\\n\" http://api.hackertarget.com/geoip/\?q=\`myip\`"
fi

# Flush DNS cache
alias dnsflush="dscacheutil -flushcache"

# JSON Viewing view python
alias json='python -mjson.tool'

# Confirm file overwrite
alias mv='mv -i'

# CD into root of git project via `...`
alias ...="cd \$(git rev-parse --show-toplevel 2>/dev/null || echo '.')"

if command -v fzf-tmux > /dev/null; then
  # CD into a directory within the project, selecting via fzf
  alias cdp="cd \$(git ls-files \$(git rev-parse --show-toplevel) | xargs -n1 dirname | sort | uniq | fzf-tmux || echo '.')"

  # Fuzzy find for killing processes
  alias fkill="kill \$(ps afx | fzf-tmux | cut -f1 -d' ')"
fi

# Add current project NPM to path
if command -v npm > /dev/null; then
  alias npath='export PATH=$(npm bin):$PATH'
fi

if command -v docker > /dev/null; then
  # Always use docker with sudo
  alias docker="sudo docker"
fi

# Autossh as a way to keep ports open
alias autossh-forward="autossh -M 0 -f -T -N"
# Use autossh for sshfs reconnecting
alias autossh-sshfs="sshfs -o reconnect,compression=yes,transform_symlinks,ServerAliveInterval=30,ServerAliveCountMax=3,ssh_command='autossh -M 0'"

# Map ls to be colorful and reasonable defaults
alias ls='ls --color=auto -pFhv --quoting-style=shell-escape'
alias la='ls --color=auto -ApFhv'
alias ll='ls --color=auto -AlpFhv'

# Make feh nicer in i3
alias feh='feh --scale-down'

# Shortcuts for copying from tmux clipboard to system clipboard
if command -v xclip > /dev/null; then
  alias tcopy='tmux save-buffer - | xclip -i -sel clipboard'
fi

# Load local file if present
if [ -f ~/.aliases.local ]; then
  . ~/.aliases.local
fi
