# vim: ft=sh

# Easy timezones for places I care about
alias lisbon='TZ="Europe/Lisbon" date'
alias miami='TZ="America/New_York" date'
alias nyc='TZ="America/New_York" date'
alias rio='TZ="America/Sao_Paulo" date'
alias seattle='TZ="America/Los_Angeles" date'
alias sf='TZ="America/Los_Angeles" date'
alias utc='date -u'

if command_exists dig; then
  alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
  alias mygeo="curl -w \"\\n\" http://api.hackertarget.com/geoip/\?q=\`myip\`"
fi

# Confirm file overwrite
alias mv='mv -i'

# CD into root of git project via `...`
alias ...="cd \$(git rev-parse --show-toplevel 2>/dev/null || echo '.')"

if command_exists fzf; then
  # CD into a directory within the project, selecting via fzf
  alias cdp="git ls-files \$(git rev-parse --show-toplevel) | xargs -n1 dirname | sort | uniq | fzf || echo '.' | xargs --no-run-if-empty cd"

  # Fuzzy find for killing processes
  alias fkill="ps afx | fzf | cut -f1 -d' ' | xargs --no-run-if-empty kill"
fi

# Add current project NPM to path
if command_exists npm; then
  alias npath='export PATH=$(npm bin):$PATH'
fi

if command_exists ctop; then
  # Doesn't work well in tmux https://github.com/bcicen/ctop/issues/263
  alias ctop='TERM="${TERM/#tmux/screen}" sudo ~/.local/bin/ctop'
fi

# exa deprecated, eza the fork
if command_exists eza; then
  # Use eza if available
  alias ls='eza --group-directories-first --classify'
  alias la='eza --all --group-directories-first --classify'
  alias ll='eza --header --git --long --group-directories-first --classify'
  alias ltree='eza --header --git --long --tree --level=2 --group-directories-first --classify'
  alias exa='eza'
elif command_exists exa; then
  # Use exa if available
  alias ls='exa --group-directories-first --classify'
  alias la='exa --all --group-directories-first --classify'
  alias ll='exa --header --git --long --group-directories-first --classify'
  alias ltree='exa --header --git --long --tree --level=2 --group-directories-first --classify'
  alias eza='exa'
elif uname | grep -qv Darwin; then
  # Map ls to be colorful and reasonable defaults
  alias ls='ls --color=auto -pFhv --quoting-style=shell-escape'
  alias la='ls --color=auto -ApFhv'
  alias ll='ls --color=auto -AlpFhv'
fi

if command_exists imv-wayland; then
  alias imv='imv-wayland'
fi

# Debianisms outside of Debian
if command_exists fd; then
  alias fdfind='fd'
fi
if command_exists bat; then
  alias batcat='bat'
fi
if command_exists eza; then
  alias exa='eza'
fi

if command_exists code; then
  # Override Mac's default storage dir to match Linux
  alias code='code --user-data-dir="${XDG_CONFIG_HOME}/Code"'
fi

# Load local file if present
if [ -f ~/.aliases.local ]; then
  # shellcheck source=/dev/null
  . ~/.aliases.local
fi
