# Include system defaults
$include /etc/inputrc

# Though life is mostly in vim, not worthwhile in bash, makes things confusing
# when using other systems. Plus, vim is always a <c-x><c-e> away
set editing-mode emacs

# Auto expand history
$if Bash
  Space: magic-space
$endif
Control-j: menu-complete
Control-k: menu-complete-backward

# Stop the ringing
set bell-style none
# Blink open parens when closing
set blink-matching-paren on
# Show colors when doing completion
set colored-stats on
# Use case-insensitive filename matching
set completion-ignore-case on
# Treat hyphens and underscores as equivalent when matching
set completion-map-case on
# Hide what's already been completed with ...
set completion-prefix-display-length 1
# Treat _ and - as equivalent when matching
set completion-map-case on
# Confirm if we really want completion past this many results
set completion-query-items 300
# Append on directories when completing
set mark-directories on
# Append slash on completed symlinks
set mark-symlinked-directories on
# Bash 4.4 allows setting custom mode strings. Blank for insert, [cmd] for cmd
set vi-ins-mode-string
set vi-cmd-mode-string \033[1;33m[cmd]\033[0m
# Show multiple matches right away
set show-all-if-ambiguous on
set show-all-if-unmodified on
# Better matching when within a word
set skip-completed-text on
# Include file type in completion
set visible-stats on
